* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1C0F13;
    padding: 20px;
    color: #E2E2E2;
}

.content{
    display: flex;
    justify-content: space-around;
}

.left-column{
    display: flex;
    flex-direction: column;
    padding: 4px 4px 0 4px;
}

.left-column h2{
    font-size: 26px;
    font-weight: bolder;
}

.left-column input{
    padding: 4px;
    margin: 4px 4px 4px 0;
}

.right-column{
    display: flex;
    flex-direction: column;
}